* {
    font-family: Tahoma, Verdana, sans-serif;
    margin: 0;
}

.menu {
    color: #fff;
    background-color: #5995DA;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 20px;
}

.recipes {
    margin-left: auto;
}

.login {
    margin-left: 20px;
}

.recipe {
    padding: 5px 20px;
    background-color: aliceblue;
}

.recipePicture {
    display: block;
    margin: auto;
    border: 3px solid black;
    border-radius: 8px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.shortTitle {
    margin-bottom: 5px;
}

.recipeDescription {
    margin-top: 8px;
}