* {
    font-family: Tahoma, Verdana, sans-serif
}

.recipe {
    padding: 5px 20px;
    background-color: aliceblue;
}

.recipePicture {
    display: block;
    margin: auto;
    border: 3px solid black;
    border-radius: 8px;
}

h1 {
    text-align: center;
}

.shortTitle {
    margin-bottom: 5px;
}

.recipeDescription {
    margin-top: 8px;
}